body{
    
        min-height: 75rem;
        padding-top: 4.5rem;

    font-family: "Major Mono Display", monospace;

}
h1{
    border-style: solid;
padding-top: 1em;
padding-bottom: 1em;
background-color:#677767;
color: white
}
    
.important{

    color: palevioletred;

}

#myname{
color: red
}

section{
    margin: 1rem;
    padding: 2rem;
    background-color: lightblue;
    border-radius: 2rem;
    border-style: dashed;
   

}
aside{
    margin: 1rem;
    padding: 2rem;
    background-color: lightblue;
    border-radius: 2rem;
    border-style: dashed;
    
}
.bgimg{
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
footer{
        float: right;
        position:fixed;
        bottom:0;
     
}
#image{
float:right;
height:14rem;
width:14rem;
border-radius: 70%;
}
#links {
    float:right;
}
.icon{
    width:4rem;
    height: auto;
}
.tg{
    color: azure;
}
